.MyWorskBlock {
    min-height: 100vh;
    background-color: #91de88;
}

.MyWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eeeef5;
}

.MyWorks {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}