.MyWorksBlock {
  background-image: linear-gradient(to left top, #fdf6dc, #fff5e3, #fff5ec, #fff6f4, #fdf9f9);
  padding: 100px 0;

  .MyWorksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    .MyWorks {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;

      @media screen and (max-width: 1015px) {
        align-items: center;
      }
    }
  }
}