@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';


.MyWork {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 15px;
   margin-bottom: 25px;
   background-color: $bgSecondColor;

   @media screen and (max-width: 530px) {
      justify-content: center;
      min-height: 270px;
      min-width: 340px;
   }

   @media screen and (max-width: 400px) {
      min-height: 270px;
      min-width: 340px;
   }

   @media screen and (max-width: 350px) {
      min-height: 100px;
      min-width: 180px;
   }

   .img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 500px;
      min-height: 280px;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      @media screen and (max-width: 530px) {
         min-height: 200px;
         min-width: 300px;
      }

      @media screen and (max-width: 400px) {
         min-height: 200px;
         min-width: 300px;
      }

      @media screen and (max-width: 350px) {
         min-height: 100px;
         min-width: 180px;
      }

      &::before {
         position: absolute;
         content: "";
         background: black;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         opacity: 0.4;
      }
   }

   .info {
      padding: 25px 20px;

      @media screen and (max-width: 530px) {
         padding: 20px 15px;
      }

      @media screen and (max-width: 400px) {
         padding: 15px 10px;
      }

      @media screen and (max-width: 350px) {
         padding: 10px 5px;
      }

      .MyWorkTitle {
         @include text($titleFontFamily, 16px, 1.2);

         margin: 0 0 5px;
         letter-spacing: 1px;

      }

      .description {
         @include text($textFontFamily, 12px, 1.8);


         font-weight: 400;
         padding-bottom: 22px;
      }
   }
}

