.skill {
   max-width: 340px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   box-sizing: border-box;
   margin: 5px 5px;
   padding: 40px 0;
}

.icon::after {
   content: '';
   display: block;
   position: relative;
   top: -50px;
   height: 80px;
   width: 80px;
   background-color: #545456;
   z-index: 1;
   transform: rotate(0.125turn);
}

.iconImg {
   position: relative;
   top: 13%;
   height: 40px;
   width: 40px;
   z-index: 2;
}

.description {
   color: #000;
   @media screen and (max-width: 530px) {
      font-size: 12px;
   }
}

.titleH3 {
   margin: 0 0 15px;
   color: #000000;

   @media screen and (max-width: 530px) {
      font-size: 16px;
   }
}