@import '../../styles/sass/variables';

.title {
   margin: 0 0 30px;
   font-size: 36px;
   font-weight: 300;
   text-transform: capitalize;
   line-height: 1.2;
   letter-spacing: 5px;
   position: relative;
   color: $textColor;

   & h2 {
      margin: 0;
      color: #000;
   }

   @media screen and (max-width: 700px) {
      font-size: 20px;
   }

   @media screen and (max-width: 530px) {
      font-size: 17px;
   }


&::after {
   content: '';
   position: absolute;
   transform: translate(-50%, 50%);
   width: 100px;
   height: 1px;
   background: $primaryColor;
   bottom: -30px;
   left: 50%;
}

}




