.app {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   //background-image: linear-gradient(to left top, #3e1c1f, #43201c, #452519, #472b16, #463114, #3f3614, #373a18, #2f3e1f, #223f2b, #194036, #183f3f, #1f3d44);
}

.AppHeaderMain {
   background-image: linear-gradient(to right top, #e3b2b6, #efbdb6, #f7c9b7, #fcd6b9, #fee4be, #f5ecc3, #ecf3cc, #e4fad7, #d7fae3, #d0f8ee, #d1f5f6, #d6f1f9);
}