.nav {
   border: 1px solid red;
   width: 300px;
   display: flex;
   justify-content: space-between;
}

.nav a {
   text-decoration: none;
}

.nav a:hover {
   cursor: pointer;
   text-decoration: underline;
}