.DistantWork {
    background-color: darkkhaki;
    min-height: 20vh;
    flex-direction: column;
}

.DistantWorkContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    text-align: center;
}

.button {
    background-color: gray;
    border: 0;
    padding: 5px 12px;
}

.button:hover {
    cursor: pointer;
}
